<!doctype html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ block "title" . }}Mutqin{{ end }}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <main class="container">
    {{ block "content" . }}{{ end }}
  </main>
</body>
</html>
